version: "3.9"

services:
  app:
    build: .
    container_name: jopa-backend-api
    restart: unless-stopped
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 4000
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
