name: Deploy to Alibaba ECS

on:
  push:
    branches:
      - main


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Docker Buildx (for modern builds)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 3: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 4: Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/jopa-sales:latest .


      # Step 5: Push image to Docker Hub
      - name: Push Docker image 
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/jopa-sales:latest

      #Step 6: Deploy to Alibaba ECS
      - name: Deploy to ECS Instance
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.ECS_HOST }}
          username: ${{ secrets.ECS_USER }}
          key: ${{ secrets.ECS_SSH_KEY }}
          port: 27
          script: |
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/jopa-sales:latest
            docker stop jopa-sales || true
            docker rm jopa-sales || true
            docker run -d --name jopa-sales -p 8080:4000  ${{ secrets.DOCKERHUB_USERNAME }}/jopa-sales:latest


            

